<!DOCTYPE html>
<html lang="tr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="h-100">

<head th:replace="fragments/head :: head"> </head>

<body class="d-flex flex-column h-100">

<div th:replace="fragments/header :: header"> </div>

<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="jumbotron">
            <div class="row">
                <h1 class="display-4">User Registration</h1>
                <form th:action="@{/register}" th:object="${user}" method="post">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" th:field="*{name}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" th:field="*{lastName}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Blood Group</label>
                            <select class="form-control" th:field="*{bloodGroup}">
                                <option value="">Choose...</option>
                                <option value="0 RH +">0 RH +</option>
                                <option value="0 RH -">0 RH -</option>
                                <option value="0 RH +">A RH +</option>
                                <option value="0 RH -">A RH -</option>
                                <option value="0 RH +">B RH +</option>
                                <option value="0 RH -">B RH -</option>
                                <option value="0 RH +">AB RH +</option>
                                <option value="0 RH -">AB RH -</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" th:field="*{phoneNumber}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" th:field="*{address}" rows="3"></textarea>
                    </div>

                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-info" href="#" th:href="@{/register/test}"> Add Test User </a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"> </footer>

</body>
</html>