<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="header">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item" th:class="${activePage == 'list'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/list}">User List<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item" th:class="${activePage == 'add'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/add}">User Registration</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>